<h5><%= @topic.title %></h5>

<ul class="collection">
</ul>

<div class="input-field">
    <textarea class="materialize-textarea"></textarea>
    <button class="btn">Add comment</button>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    window.createSocket(<%= @topic.id %>)
})
</script>